a{text-decoration:none;
    font-size:24px;
    color: white
}

a:hover{
    text-decoration:underline ;
    color:blue}

body{
    text-align:center; 
    background-color:black;
    color:white
}

h1{height:max-content}
