body{
    text-align:center; 
    background-color:black;
    color:white
}


footer{background-color:rgba(2, 109, 29, 0.445);
    position:relative;  
    bottom:0;
    border-radius: 50px;
    width: 500px ;
    margin-left: 300px;
    margin-right: 400px;}

a{text-decoration:none;
    font-size:24px;
    color: white
}

a:hover{
    text-decoration:underline ;
    color:blue}

h1{height:max-content}

h2{color: antiquewhite;}

h2:hover{color: white;}